name: vcstool

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-22.04, ubuntu-24.04, windows-2022, windows-2025]
        python-version: ["3.10", "3.12"]

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55  # v5.5.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install --upgrade PyYAML
    - name: Install dependencies (macOS)
      run: |
        brew install subversion mercurial
      if: matrix.os == 'macos-latest'
    - name: Test with pytest
      run: |
        pip install --upgrade .[test]
        pip install --upgrade coverage
        git config --global --add init.defaultBranch master
        git config --global --add advice.detachedHead true
        ${{ startsWith(matrix.os, 'windows') && 'set PYTHONPATH=%cd% &&' || 'PYTHONPATH=`pwd`' }} pytest -s -v test
